extends layout

block content

    h1 User: #{current_user.username}
    p Name: #{current_user.name_initial}
    p Membership Status: #{current_user.membership}

    div(style='margin-left:20px;margin-top:20px')

        h4 Messages
        if user_messages.length
            dl
                each message in user_messages
                    dt
                        a(href=message.url) #{message.title} 
                        | - #{message.timestamp_formatted}
                    dd #{message.text}
        else
            p This user has no messages.
