extends layout

block content
    h1= title

    if !user
        h3 You must sign in to access user information! 
        a(href='/board/user/sign-in') Sign In  

    if user 
        table
            tr
                th Username
                th Name
                th Membership Status

            each user in user_list
                tr
                    td  
                        a(href=user.url) #{user.username}
                    td  #{user.name_initial} 
                    td  #{user.membership}

            else
                li There are no users.
